@using PersonalFinance.Helper
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/personalfinance.styles.css">

<div class="text-center">
    <h1 class="display-5">@ViewBag.Message</h1>
    <p>Bienvenido a Personal Finance.</p>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="2025" asp-controller="Home" asp-action="Index">2025</a>
                    </li>
                    <li class="nav-link">|</li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="2026" asp-controller="Home" asp-action="Index">2026</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
